
<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>
  
  豆瓣最受欢迎的影评
</title>
    
  <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
  
  
  <meta name="keywords" content="影评,热门影评,最新影评"/>
  <meta name="description" content="豆瓣最受欢迎的影评,发表你的影评"/>
  <link rel="alternate" href="/feed/review/best" type="application/rss+xml" title="RSS">

  <link href="https://img3.doubanio.com/f/shire/94213e812acbb00123f685909b4768bb304d16f3/css/douban.css" rel="stylesheet" type="text/css">
  <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/4bcc9e758b680fc3.css">
  <style type="text/css"></style>

  <script type="text/javascript">var _head_start = new Date();</script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/7cdd59e1378f9ccea648a083fecf12d71ed66c2b/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/afb2e24c7be373fa64d49d28de42719ec2262e1c/js/lib/moreurl.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/zerkalo/c3c44f15ac80efc5cc641ad8b68e6ab468aebc4d/dist/js/base.js"></script>
  <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
  

  <script type="text/javascript"></script>

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
  
  <script type="text/javascript">var _body_start = new Date();</script>

  

    



    <link href="//img3.doubanio.com/dae/accounts/resources/6034966/shire/bundle.css" rel="stylesheet" type="text/css">


<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/6034966/shire/bundle.js" defer="defer"></script>





      








<div id="db-nav-movie" class="nav">
  <div class="nav-wrap" >
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">电影、影人、影院、电视剧</label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>

    <!-- header ad begin -->
    





    <div id="dale_movie_top_nav_second_nav" class="ban-header"></div>
    



    <!-- header ad end -->

  </div>
  </div>
  <div class="nav-secondary">
      
      <div class="nav-items nav-anon">
          <ul>
                                  
                     <li><a href="https://movie.douban.com/nowplaying/">影讯&amp;购票</a></li>
                 
                     <li><a href="https://movie.douban.com/explore">选电影</a></li>
                 
                    <li class="site-nav-bt">
                        <a href="https://movie.douban.com/tv/">电视剧</a>
                    </li>
                 
                     <li><a href="https://movie.douban.com/chart">排行榜</a></li>
                 
                     <li><a href="https://movie.douban.com/tag/">分类</a></li>
                 
                     <li><a href="https://movie.douban.com/review/best/">影评</a></li>
                 
                     <li><a href="https://movie.douban.com/annual2016/?source=navigation">2016年度榜单</a></li>
                 
                     <li><a href="https://movie.douban.com/standbyme/2016?source=navigation">2016观影报告</a></li>
          
          </ul>
      </div>
  </div>
</div>


<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
    <a href="{{= url}}">
      <img src="{{= img}}" width="40" />
      <p>
        <em>{{= title}}</em>
        {{if year}}
          <span>{{= year}}</span>
        {{/if}}
        {{if sub_title}}
            <br /><span>{{= sub_title}}</span>
        {{/if}}
        {{if address}}
            <br /><span>{{= address}}</span>
        {{/if}}
        {{if episode}}
            {{if episode=="unknow"}}
                <br /><span>集数未知</span>
            {{else}}
                <br /><span>共{{= episode}}集</span>
            {{/if}}
        {{/if}}
      </p>
    </a>
  </li>
</script>





  
  <div id="wrapper" class="movie-content review-wrapper">
    

    
  <div id="content">
    
    <h1>豆瓣最受欢迎的影评</h1>

    <div class="grid-16-8 clearfix">
      
      
      <div class="article">
        
  
  <ul class="top-tab clearfix">
      
  
  <li class=" selected">    <a href="javascript:;">      <span>最受欢迎的</span>    </a>  </li>

      
  
  <li class="">    <a href="/review/latest?app_name=movie">      <span>新片评论</span>    </a>  </li>

  </ul>
  


<div class="review-list chart">
    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8503473">
      <a class="subject-img" href="https://movie.douban.com/subject/26727273/">        <img alt="人民的名义" title="人民的名义" src="https://img1.doubanio.com/view/movie_poster_cover/spst/public/p2452241358.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8503473/" class="title-link">《人民的名义》失败者群像</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8503473"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/3929249/" class="author">
      <span property="v:reviewer">张京徽</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/26727273/">人民的名义</a>
      <span class="allstar50 main-title-rating" title="力荐"></span>
      <span property="v:rating" class="main-title-hide">5</span>

  <span property="v:dtreviewed" content="2017-04-27"
      class="main-meta">2017-04-27 13:05:30</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8503473_short" class="review-short">
            <div class="short-content">
                  <p class="main-title-tip">
                    这篇剧评可能有剧透
                  </p>
                  <div class="toggle_review">
                    &gt;&nbsp;                    <a href="javascript:;" id="toggle-8503473-copy" class="unfold j" title="展开全文">                      没关系，可以显示全文                    </a>
                  </div>
            </div>
          </div>
          <div id="review_8503473_full" class="hidden">
            <div id="review_8503473_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8507732">
      <a class="subject-img" href="https://movie.douban.com/subject/26683725/">        <img alt="外科风云" title="外科风云" src="https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2454166012.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8507732/" class="title-link">正午能不能好好拍戏了</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8507732"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/YMXLYZHS/" class="author">
      <span property="v:reviewer">燕字回时</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/26683725/">外科风云</a>
      <span class="allstar10 main-title-rating" title="很差"></span>
      <span property="v:rating" class="main-title-hide">1</span>

  <span property="v:dtreviewed" content="2017-04-29"
      class="main-meta">2017-04-29 15:55:53</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8507732_short" class="review-short">
            <div class="short-content">
                  本来挺喜欢这一题材的剧，但心术过后国内就没啥医疗剧出现，加上前几部片子对正午的印象还不错，所以得知它拍医疗剧就一直有关注，看前期也一直以良心医疗剧宣传，对此还是蛮期待外科风云的。 开播前和人义那点破事，还是选择了相信正午，在网络上还帮忙说话了，bbh出事了还zqs...

                    <a class="pl" href="https://movie.douban.com/review/8507732/#comments">(2回应)</a>
                  <div class="more-info pl clearfix">
                    <span class="left">26有用 / 0没用</span>
                  </div>
            </div>
          </div>
          <div id="review_8507732_full" class="hidden">
            <div id="review_8507732_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8507868">
      <a class="subject-img" href="https://movie.douban.com/subject/1929463/">        <img alt="少年派的奇幻漂流" title="少年派的奇幻漂流" src="https://img3.doubanio.com/view/movie_poster_cover/spst/public/p1784592701.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8507868/" class="title-link">That’s life.</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8507868"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/155482294/" class="author">
      <span property="v:reviewer">二呆呆的小世界</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/1929463/">少年派的奇幻漂流</a>
      <span class="allstar50 main-title-rating" title="力荐"></span>
      <span property="v:rating" class="main-title-hide">5</span>

  <span property="v:dtreviewed" content="2017-04-29"
      class="main-meta">2017-04-29 17:04:57</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8507868_short" class="review-short">
            <div class="short-content">
                  很久没写过观后感一类的东西只觉得各种遥远。  除去对电影穿帮镜头的吐槽，其实整个电影的画面效果很不错。以及最后二十分钟对人性和兽性的思考。（当然这只是我自己的思考。）  无论是老虎或者厨子，无论是人性或者兽性，都有其柔软的一面和阴暗的一面， 绝望的时候就是脱下一...

                    <a class="pl" href="https://movie.douban.com/review/8507868/#comments">(3回应)</a>
                  <div class="more-info pl clearfix">
                    <span class="left">21有用 / 0没用</span>
                  </div>
            </div>
          </div>
          <div id="review_8507868_full" class="hidden">
            <div id="review_8507868_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8506026">
      <a class="subject-img" href="https://movie.douban.com/subject/26748673/">        <img alt="拆弹专家" title="拆弹专家" src="https://img1.doubanio.com/view/movie_poster_cover/spst/public/p2454868217.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8506026/" class="title-link">于式微港式警匪片中开出别样的“华”来——原来...</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8506026"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/dynjxs/" class="author">
      <span property="v:reviewer">電影那件小事</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/26748673/">拆弹专家</a>
      <span class="allstar40 main-title-rating" title="推荐"></span>
      <span property="v:rating" class="main-title-hide">4</span>

  <span property="v:dtreviewed" content="2017-04-28"
      class="main-meta">2017-04-28 18:43:15</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8506026_short" class="review-short">
            <div class="short-content">
                  《拆弹专家》，光看电影名字，许多人第一时间估计是联想到另一部知名好莱坞大片——卡梅隆前妻拍摄的奥斯卡最佳影片《拆弹部队》。  一个拆弹部队，一个拆弹专家，光从名字已能看出两者格局的高下。 拆弹部队的故事背景设置在伊拉克战场，探讨的是战争、人性等全人类层面的东西...

                    <a class="pl" href="https://movie.douban.com/review/8506026/#comments">(5回应)</a>
                  <div class="more-info pl clearfix">
                    <span class="left">37有用 / 2没用</span>
                  </div>
            </div>
          </div>
          <div id="review_8506026_full" class="hidden">
            <div id="review_8506026_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8498041">
      <a class="subject-img" href="https://movie.douban.com/subject/25884801/">        <img alt="记忆大师" title="记忆大师" src="https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2455156816.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8498041/" class="title-link">【严重剧透！！】人物动机与隐藏线索梳理，一刷...</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8498041"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/longlingning/" class="author">
      <span property="v:reviewer">龙灵宁</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/25884801/">记忆大师</a>
      <span class="allstar50 main-title-rating" title="力荐"></span>
      <span property="v:rating" class="main-title-hide">5</span>

  <span property="v:dtreviewed" content="2017-04-24"
      class="main-meta">2017-04-24 18:42:53</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8498041_short" class="review-short">
            <div class="short-content">
                  <p class="main-title-tip">
                    这篇影评可能有剧透
                  </p>
                  <div class="toggle_review">
                    &gt;&nbsp;                    <a href="javascript:;" id="toggle-8498041-copy" class="unfold j" title="展开全文">                      没关系，可以显示全文                    </a>
                  </div>
            </div>
          </div>
          <div id="review_8498041_full" class="hidden">
            <div id="review_8498041_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8507091">
      <a class="subject-img" href="https://movie.douban.com/subject/7163794/">        <img alt="知青" title="知青" src="https://img1.doubanio.com/view/movie_poster_cover/spst/public/p2374985229.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8507091/" class="title-link">另类的知青剧</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8507091"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/155072633/" class="author">
      <span property="v:reviewer">念念</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/7163794/">知青</a>
      <span class="allstar50 main-title-rating" title="力荐"></span>
      <span property="v:rating" class="main-title-hide">5</span>

  <span property="v:dtreviewed" content="2017-04-29"
      class="main-meta">2017-04-29 07:42:18</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8507091_short" class="review-short">
            <div class="short-content">
                  熬夜看完了知青，感触挺多的，或许里面情节有些夸张，有些不符合实际，但是大部分还是肯定的~对于知青这一特殊群体以及他们当时的环境有了更加深刻的认识~“成功”的人说下乡锻炼了自己，“失败”的人说下乡毁灭了自己。我的感觉是文革是一场悲哀的运动，而知青作为文革运动的...

                  <div class="more-info pl clearfix">
                    <span class="left">26有用 / 3没用</span>
                  </div>
            </div>
          </div>
          <div id="review_8507091_full" class="hidden">
            <div id="review_8507091_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8507111">
      <a class="subject-img" href="https://movie.douban.com/subject/25884801/">        <img alt="记忆大师" title="记忆大师" src="https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2455156816.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8507111/" class="title-link">一份缺少爱的记忆</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8507111"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/moguan618/" class="author">
      <span property="v:reviewer">末官</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/25884801/">记忆大师</a>
      <span class="allstar40 main-title-rating" title="推荐"></span>
      <span property="v:rating" class="main-title-hide">4</span>

  <span property="v:dtreviewed" content="2017-04-29"
      class="main-meta">2017-04-29 08:14:37</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8507111_short" class="review-short">
            <div class="short-content">
                  <p class="main-title-tip">
                    这篇影评可能有剧透
                  </p>
                  <div class="toggle_review">
                    &gt;&nbsp;                    <a href="javascript:;" id="toggle-8507111-copy" class="unfold j" title="展开全文">                      没关系，可以显示全文                    </a>
                  </div>
            </div>
          </div>
          <div id="review_8507111_full" class="hidden">
            <div id="review_8507111_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8507710">
      <a class="subject-img" href="https://movie.douban.com/subject/26794240/">        <img alt="我们战斗吧" title="我们战斗吧" src="https://img1.doubanio.com/view/movie_poster_cover/spst/public/p2363724258.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8507710/" class="title-link">去年看过的最好看的综艺</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8507710"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/158827770/" class="author">
      <span property="v:reviewer">逆光</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/26794240/">我们战斗吧</a>
      <span class="allstar40 main-title-rating" title="推荐"></span>
      <span property="v:rating" class="main-title-hide">4</span>

  <span property="v:dtreviewed" content="2017-04-29"
      class="main-meta">2017-04-29 15:41:47</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8507710_short" class="review-short">
            <div class="short-content">
                  🔹队长王凯 凯凯的&#34;盒盒盒盒&#34;贯穿全集 艾玛太魔性了 每次都跟着傻笑 谁让我和wuli凯凯一样笑点低呢哈哈 喜欢你爱笑 喜欢你的认真 喜欢你的机智 你是永远的诸葛凯 🔸井柏然 井宝你这个游戏黑洞 我不想嘲笑你哈哈 喜欢你的真实 20年的偶像包袱全没了 东北大男人的不羁哈哈 ...

                    <a class="pl" href="https://movie.douban.com/review/8507710/#comments">(4回应)</a>
                  <div class="more-info pl clearfix">
                    <span class="left">18有用 / 0没用</span>
                  </div>
            </div>
          </div>
          <div id="review_8507710_full" class="hidden">
            <div id="review_8507710_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8507764">
      <a class="subject-img" href="https://movie.douban.com/subject/26630781/">        <img alt="我不是潘金莲" title="我不是潘金莲" src="https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2378133884.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8507764/" class="title-link">这真的不是无理取闹吗</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8507764"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/153345917/" class="author">
      <span property="v:reviewer">壹研喋梦</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/26630781/">我不是潘金莲</a>
      <span class="allstar30 main-title-rating" title="还行"></span>
      <span property="v:rating" class="main-title-hide">3</span>

  <span property="v:dtreviewed" content="2017-04-29"
      class="main-meta">2017-04-29 16:11:11</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8507764_short" class="review-short">
            <div class="short-content">
                  <p class="main-title-tip">
                    这篇影评可能有剧透
                  </p>
                  <div class="toggle_review">
                    &gt;&nbsp;                    <a href="javascript:;" id="toggle-8507764-copy" class="unfold j" title="展开全文">                      没关系，可以显示全文                    </a>
                  </div>
            </div>
          </div>
          <div id="review_8507764_full" class="hidden">
            <div id="review_8507764_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>

    
  



  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review">
    <div class="main review-item" id="8506132">
      <a class="subject-img" href="https://movie.douban.com/subject/1431719/">        <img alt="渔童" title="渔童" src="https://img3.doubanio.com/view/movie_poster_cover/spst/public/p2398812883.webp" rel="v:image" />      </a>
        

  <header class="main-hd">
    <h3 class="title">
      <a href="https://movie.douban.com/review/8506132/" class="title-link">记忆中的“渔盆是我滴”</a>
      <div class="toggle_review right">        <a href="javascript:;" id="toggle-8506132"class="indicator unfold j" title="展开全文">        </a>
      </div>
    </h3>
    

<div class="header-more">
    <a href="https://www.douban.com/people/154750405/" class="author">
      <span property="v:reviewer">liancheng</span>
    </a>    评论     <a class="subject-title" href="https://movie.douban.com/subject/1431719/">渔童</a>
      <span class="allstar50 main-title-rating" title="力荐"></span>
      <span property="v:rating" class="main-title-hide">5</span>

  <span property="v:dtreviewed" content="2017-04-28"
      class="main-meta">2017-04-28 19:51:29</span>
</div>

  </header>

        <div class="main-bd">
          <div id="review_8506132_short" class="review-short">
            <div class="short-content">
                  爸妈童年的记忆让我好奇，我上网看了这部动画片。动画制作是传统中国手法，是万氏三兄弟的代表作之一，表现思想也是传统的中国文化传承。 经典画面有狂风暴雨的海浪中穷苦的老渔夫打捞上来一个美丽的渔盆，这只渔盆在深夜会跳出一个坐在莲花上的小娃娃，跳着舞唱着歌，挥舞着鱼...

                    <a class="pl" href="https://movie.douban.com/review/8506132/#comments">(1回应)</a>
                  <div class="more-info pl clearfix">
                    <span class="left">30有用 / 2没用</span>
                  </div>
            </div>
          </div>
          <div id="review_8506132_full" class="hidden">
            <div id="review_8506132_full_content" class="full-content"></div>
          </div>
        </div>
    </div>
  </div>



</div>










  
  
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="5">1</span>
                
            <a href="/review/best?start=20" >2</a>
        
                
            <a href="/review/best?start=40" >3</a>
        
                
            <a href="/review/best?start=60" >4</a>
        
                
            <a href="/review/best?start=80" >5</a>
        
        <span class="next">
            <link rel="next" href="/review/best?start=20"/>
            <a href="/review/best?start=20" >后页&gt;</a>
        </span>

            <span class="count">(共100条)</span>
        </div>



      </div>
      <div class="aside">
        
  <!-- douban ad begin -->
  <div id="dale_review_best_top_right"></div>
  <!-- douban ad end -->

  




  <div class="sidebar-info-wrapper">
    <div class="sidebar-copy">
      




  <p>如果你觉得一篇评论对你有帮助，请你点击“有用”。你的投票直接决定哪些评论出现在豆瓣首页和“豆瓣最受欢迎的评论”里，以及在书、电影和音乐介绍页里评论的排序。</p>
  <p>所有“没用”的点击都是匿名的。</p>

    </div>



  </div>


    
  
  
<p class="pl">
  <span class="feed">    <a href="/feed/review/movie">订阅豆瓣最受欢迎的剧评</a>  </span>
</p>






      </div>
      <div class="extra">
        
    <!-- douban ad begin -->
    <div id="dale_movie_review_best_bottom_banner"></div>
    <!-- douban ad end -->

      </div>
    </div>
  </div>

    
  <div id="footer">
      <div class="footer-extra"></div>
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2017 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

  </div>

  </div>
    
  
  
  

  
  

  




  <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/58518a2e29e22997.js"></script>
  
  <!-- douban ad begin -->
  
  




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = '9yosYw-mj5E',
            criteria = '3:/review/best/',
            preview = '',
            debug = false,
            adSlots = ['dale_review_best_top_right', 'dale_movie_review_best_bottom_banner'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/shire/c0522fda5dd05ef8b84ec31b76eafffebb0e53f2/js/ad.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










  <!-- douban ad end -->

  
    









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








  <!-- nain7-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>

